---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

const { title, description, pubDate, author } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style lang="scss">
      @use "../styles/abstracts/" as *;

      .blog__post {
        width: 120ch;
        margin: 5rem auto 0 auto;

        @include respond(phone) {
          width: 100%;
        }
      }
      .date {
        font-weight: 500;
        margin-block: 0;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article class="blog__post">
        <h1 class="heading-primary">{title}</h1>
        <p class="date">
          <FormattedDate date={pubDate} /> by {author}
        </p>
        <hr class="u-margin-bottom-5" />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
